@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,900;1,100;1,300&display=swap');

*
{
    padding: 0;
    margin: 0;
}
/* maltiple */
.section-tittle
{
    font-size: 40px;
}

body
{
    font-family: 'Poppins', sans-serif;
}

/* header area start */
.head
{
    background-image: url(./images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: 100% 590px;
    height: 700px;

}

.header-contant
{
    text-align: right;
    padding: 130px 120px 100px 100px;
}

.header-tittle
{
    color: #151414;
    font-size: 50px;
}

.header-desc
{
    color: #444343;
    margin: 15px 0;
}

.header-btn
{
    color: white;
    padding: 10px;
    background-color: red;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

/* about start */
.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 50px;
}

.about-logo img
{
    width: 451px;
}

.about-tittle
{
    font-size: 40px;
}

.about-desc,.about-list
{
    color:#444343;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0;
}
.about-list i{
    color: rgba(22, 216, 135, 1);
}
/* plan */
.plan{
    margin-top: 150px;
}
.plan-tittle{
    text-align: center;
}
.plan-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
    text-align: center;
}
.plan-info p{
    color:  #737272;
    font-size: 20px;
}
.plan-info h3{
    font-size: 27px;
}